.arena-container {
  color: white;
}

.name {
  text-align: center;
  color: white;
  font-family: 'Supermercado One', cursive;
  font-size: 2rem;
}

.your-character {
  max-width: 300px;
  height: 400px;
  border: 1px solid;
  border-radius: 0.5rem;
}

.player-box>.attacking {
  border: 1px solid;
  box-shadow: 15px 1px 20px black;
  border-radius: 0.5rem;
  animation-name: attack2;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
}

.desolator {
  max-width: 300px;
  height: 400px;
  border: 1px solid;
  border-radius: 0.5rem;
}

.dead-desolator {
  filter: grayscale(100%);
  box-shadow: 10px 2px 12px gray;
}

.dead-character {
  filter: grayscale(100%);
  box-shadow: 10px 2px 12px gray;
}

.heading {
  text-align: center;
  color: red;
  font-family: 'Nosifer', cursive;
  font-size: 3rem;
  text-shadow: 5px 2px 10px red;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.players-container, .boss-container {
  text-align: center;
}

.attack-controls {
  text-align: center;

}

.attacking {

  border: 1px solid;
  box-shadow: 15px 1px 20px black;
  border-radius: 0.5rem;
  animation-name: attack;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
}

.attack-state {
  margin-top: 2rem;
  font-family: 'Nosifer', cursive;
  color: yellow;
}

.attack-btn {
  font-size: 1.3rem;
  background: yellow;
  border: solid 1px yellow;
}

.error {
  font-size: 1rem;
  color: red;
}

.info {
  font-size: 1.5rem !important;
  font-family: 'Supermercado One', cursive !important;

}

#defeated {
  font-size: 2.5rem;
  color: gray;
}

@media(max-width: 768px) {
  #defeated {
    font-size: 1.5rem;
  }

  .desolator {
    max-width: 250px;
    height: 350px;

  }

  .your-character {
    max-width: 250px;
    height: 350px;

  }
}


@keyframes attack {
  from {
    box-shadow: 5px 5px 10px black;
  }

  to {
    box-shadow: 5px 5px 10px red;
  }
}

@keyframes attack2 {
  from {
    box-shadow: 5px 5px 10px black;
  }

  to {
    box-shadow: 5px 5px 10px yellow;
  }
}